<%= link_to 'Dashboard', dashboard_index_path, :class => 'bool' %>

<div class="container-main-dash">
    <div class="headz">
        <h1 class="main-header">Dashboard</h1>
        <p class="harry-p">Welcome Harry Potter to your store SAQ Jean-Talon!</p>
    </div>
    <div class="mini-container"></div>
    <div class="mini-container-2"></div>
</div>