.box-container-show {
  margin: auto;
  background-color: $white;
  width: 344px;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 16px;
}

.box-info {
  margin: auto;
  background-color: $white;
  width: 150px;
  height: 150px;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 16px;
}
