.mobile-logo {
  width: 60px;
}

.mobile-page {
  background-color: #E4ECFF;
}

.container-mobile {
  max-width: 100%;
  padding: 0;
  padding-bottom: 16px;
  margin: auto;
  text-align: center;
  overflow-x: hidden;

  & h3 {
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 700;
  }

  & h4 {
    color: $purple;
    font-family: "Roboto", "sans-serif";
    font-size: 18px;
  }
}

.box-container {
  margin: auto;
  background-color: $white;
  width: 200px;
  height: 200px;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
