#info > p {
  font-family: "Karla", "sans-serif";
  font-size: 18px;
  margin: 0;
}

#weather-icon img {
  width: 60px;
}

#city {
  text-align: center;
}

.weather-container-info {
  margin: auto;
}
