#info > p {
  font-family: "Karla", "sans-serif";
  font-size: 18px;
  margin: 0;
}

#weather-icon img {
  width: 60px;
}

#city {
  text-align: center;
}

.client-container-info {
  margin: auto;
  text-align: center;

    & h3 {
    font-family: "Roboto", "sans-serif";
    font-size: 48px;
    font-weight: bold;
    color: $purple;
  }
}

.weather-container-info {
  margin: auto;
}
