.purpo2 {
  margin-left: 11%;
  margin-bottom: 26%;
  text-decoration: none !important;
}

.purpo2 > a:hover {
  text-decoration: none !important;
}

.mini-container-analytics {
  background-color: white;
  position: absolute;
  width: 415px;
  height: 258px;
  left: 10%;
  top: 15%;
  border-radius: 25px;
  box-shadow: 0px 8px 40px
    rgba(
      112.000000923872,
      144.00000661611557,
      176.00000470876694,
      0.20000000298023224
    );
}

.mini-container-2-analytics {
  background-color: white;
  position: absolute;
  width: 415px;
  height: 258px;
  left: 53%;
  top: 15%;
  border-radius: 25px;
  box-shadow: 0px 8px 40px
    rgba(
      112.000000923872,
      144.00000661611557,
      176.00000470876694,
      0.20000000298023224
    );
}

.container-main-dash-analytics {
  background-color: #f6f6fe;
  position: absolute;
  width: 1024px;
  height: 882px;
  left: 307px;
  top: 81px;
  border-radius: 25px;
  p {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 22px;
    text-align: center;
    font-size: 70px;
  }
  h2 {
    padding: 16px 16px 5px 16px;
    text-align: center;
  }
}

.mini-container-3-analytics {
  background-color: white;
  position: absolute;
  width: 415px;
  height: 258px;
  left: 53%;
  top: 47%;
  border-radius: 25px;
  box-shadow: 0px 8px 40px
    rgba(
      112.000000923872,
      144.00000661611557,
      176.00000470876694,
      0.20000000298023224
    );
  p {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 22px;
    text-align: center;
    font-size: 86px;
  }
  h2 {
    padding: 16px 16px 5px 16px;
    text-align: center;
  }
}

.mini-container-4-analytics {
  background-color: white;
  position: absolute;
  width: 415px;
  height: 258px;
  left: 10%;
  top: 47%;
  border-radius: 25px;
  box-shadow: 0px 8px 40px
    rgba(
      112.000000923872,
      144.00000661611557,
      176.00000470876694,
      0.20000000298023224
    );
  h2 {
    padding: 16px 16px 5px 16px;
  }
  p {
    padding-left: 16px;
    padding-right: 16px;
  }
}
