
.container-map{
  margin: 0;
}

#blur-img{
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  border: 2px solid red;
  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
  }
}

.code{
  background-color: #6666FF;
  border: 1px solid rgba(0,0,0,-1);

  box-shadow: 1px 3px 10px rgba(0,0,0,-1);
  position: absolute;
  left: 90px;
  top: 105px;
  svg {
     border-radius: 8px;
  }
}
