
.container-map{
  margin: 0;
}

.bg-img{
  background-size: cover;
  height: 100vh;

  margin-top: 0;

}
#blur-img{
  background-image: asset-url("apple.jpeg");


  // filter: blur(1px);
  // opacity: rgba(0,0,0, -3);

}

.col {
  border: 1px solid rgba(0,0,0,-1);
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.code{
  // background-color: $body-bg;
  border: 1px solid rgba(0,0,0,-1);
  border-radius: 8px;
  box-shadow: 1px 3px 10px rgba(0,0,0,-1);
  opacity: .5px;
  position: absolute;

  // left: 100px;
  // top: 150px;
  top: 50px;
  filter: blur(.5px);
}
.store-info{
  color: $body-bg;
  margin: 24px 36px;
}
