.purple-page{
  max-width: 50vh;
  margin: 0 auto;
  border-radius: 30px;


}

.card-container{
  display: flex;
  // flex-direction: column;
  // align-items: space-around;
  // flex-wrap: wrap;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: auto;
  flex-wrap: wrap;

}

.card {
  background-color: $body-bg;
  height: 200px;
  width: 200px;
  padding: 12px 12px;
  margin: 12px 12px;
}

.card-title > h3{
  font-size: 45px;
  color: $purple;
  font-weight: bolder;
}
.card-title > p {
  font-weight: bold;
  color: $purple;
  font-size: 24px;
}
