.purple-page{
   max-width: 50vh;
  margin: 0 auto;
  border-radius: 30px;

}

// .card-container{
//   display: flex;
//   // flex-direction: column;
//   // align-items: space-around;
//   // flex-wrap: wrap;
//   // flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   // flex-direction: column;
//   flex-basis: auto;
//   flex-wrap: wrap;
// }

.card {
  background-color: $body-bg;
  height: 200px;
  width: 200px;
  padding: 12px 12px;
  margin: 12px 12px;
  box-shadow: 1px 2px 5px rgb(0,0,2);
}

.card:hover{
  background-color: #d3dbff;
  // background-color: #f4f6ff;
  opacity: 0.5;
  color: white;

  .card-title {
    color: white;
  }
}

.card-title > p{
  font-size: 24px;
  font-weight: bolder;
   color: $purple;

   #store_name{
    color: $purple;
    padding: 12px 24px;
   }

}

#icon{
  height: 35px;
  width: 35px;
}

.card-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

// #store_name {
//   font-size: 36px;
// }
// #line-number{
//   font-size: 36px;
//   color: $purple;
// }


// #address {
//   padding: 16px 12px;
//   color: $purple;
//   font-size: 16px;
//   line-height: 1.3;
// }
