<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.fname %></h1>
    <p>
      Your turn in 5 minustes. Comee closer to a store.
    </p>
  </body>
</html>