.btn-purple {
  background-color: $purple;
  color: $white !important;
  padding: 14px;
  width: 50%;
  border: none;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  border-radius: 30px;
}
