.form-input {
  width: 50%;
  padding: 24px 24px;
  color: $purple;
  border: none;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
}

.form-select {
  width: 50%;
  color: $purple;
  border: none;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
}
