<h1>Confirmations#show</h1>
<p>Find me in app/views/confirmations/show.html.erb</p>

<h2><%= @confirmation.qrcode %></h2>
<p><%= @confirmation.start_time %></p>
<p><%= @confirmation.end_time %></p>
<p><%= @confirmation.position %></p>
