// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
<<<<<<< HEAD
@import "dashboard/index";
=======
>>>>>>> master

h1 {
  text-decoration: underline;
  font-weight: 800;
  font-size: 36px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-style: italic;
  font-size: 16px;
}

p {
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  font-family: "Roboto", "Helvetica", "sans-serif";
  font-weight: 500;
  font-size: 14px;
  color: $black;

  &:hover {
    font-family: "Roboto", "Helvetica", "sans-serif";
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    color: $purple;
  }

  &:active {
<<<<<<< HEAD
    font-family: "Roboto", "Helvetica", "sans-serif";
    font-weight: 700;
    font-size: 12px;
    text-decoration: underline;
    color: $purple;
=======
  font-family: "Roboto", "Helvetica", "sans-serif";
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  color: $purple;
>>>>>>> master
  }
}
